.container {
    width: 100%;
    max-width: $break-wide; 
    margin: 0 auto;
    padding: 0 20px;

    @include for-wide-layout {
        padding: 0;
    }
}

.hero-small {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 0 15%;
}

// Aspect-Ratio Helpers
.ratio-16-9 {
    @include aspect-ratio(100, 56);
}
.ratio-square {
    @include aspect-ratio(100, 100);
}
.ratio-card {
    @include aspect-ratio(80, 100);
}
.ratio-poster {
    @include aspect-ratio(100, 150);
}