/// Colors
$clr1: #696773;
$clr2: #246EB9;
$clr3: #F7D4BC;
$black: #191919;  
$white: #fff;

/// Media Break Points
$break-mobile: 600px;
$break-narrow: 900px;
$break-wide: 1200px;

/// Others
$shadow: 0 3px 8px 0 rgba($black, .1);
$border-slight: 1px solid rgba($black, .1);
$bold: 0px 0px 1px currentColor;